<form>
  <div *ngIf="!show">
    <div class="cafe-alert">
      <p>Global Blue Cafe: | Location : Singapore | Outlet ID : SG001 | Store Locator : 541316</p>
    </div>
    <button mat-raised-button color="primary" (click)="onNewOrder()">New Order</button>
    <br>
  </div>
  <div *ngIf="show">
    <div class="cafe-alert">
      <mat-form-field>
        <mat-select placeholder="Select Beverage" [(ngModel)]="sBeverage" name="beverage">
          <mat-option *ngFor="let beverage of beverages" [value]="beverage.value">
            {{ beverage.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select Quantity" [(ngModel)]="sQty" name="quantity">
          <mat-option *ngFor="let quantity of quantities" [value]="quantity.value">
            {{ quantity.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addOrderDetails(sBeverage,sQty)" id="btnAdd">Add</button>
    
    <ul class="items">
      <li *ngFor="let orderDetail of orderDetails">
        <span class="badge">{{ orderDetail.quantity }}</span>{{ orderDetail.beverage }}
      </li>
    </ul>
  </div>
    <br>
    <button mat-raised-button color="primary" id="btnSubmitOrder" (click)="onSubmitOrder()">
      Submit Order
    </button>
  </div>
</form>